.reserveItem {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
	padding: 20px;
	border-radius: 15px;
	background-color: white;
	line-height: 30px;

	.timeStatus {
		width: 60px;
		font-size: 18px;
		text-align: center;

		.seated {
			color: #162149;
		}

		.reserve {
			color: #3bb94c;
		}
	}

	.itemInfo {
		width: calc(100% - 200px);
		padding: 0px 20px;
	}

	.statusBtn {
		width: 90px;
		padding: 10px;
		border: 2px solid #162149;
		border-radius: 7px;
		outline: none;
		background-color: #162149;
		font-size: 16px;
		color: white;

		&:hover {
			border: 2px solid #162149;
			background-color: white;
			color: #162149;
		}
	}

	.ellipsis {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}

@media (max-width: 512px) {
	.reserveItem {
		padding: 15px;

		.timeStatus {
			width: 50px;
			font-size: 14px;
			text-align: center;
		}

		.itemInfo {
			width: calc(100% - 160px);
			font-size: 14px;
		}

		.statusBtn {
			width: 70px;
			padding: 10px;
			font-size: 14px;
		}
	}
}
