.reserveItem {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	margin-bottom: 10px;
	border-radius: 15px;
	padding: 20px 30px;
	line-height: 30px;

	.timeStatus {
		width: 90px;
		text-align: center;
	}

	.itemInfo {
		width: calc(100% - 200px);
		padding: 0px 20px;
	}

	.statusBtn {
		width: 80px;
		padding: 10px;
		font-size: 18px;
		border-radius: 7px;
		outline: none;
		border: 2px solid #162149;
		background-color: #162149;
		color: white;

		&:hover {
			border: 2px solid #162149;
			background-color: white;
			color: #162149;
		}
	}

	.ellipsis {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}
