.detailContainer {
	min-width: 450px;
	height: 550px;
	background-color: white;
	border-radius: 15px;
	padding: 20px 30px;
	margin-left: 10px;
	box-sizing: border-box;

	h3 {
		margin-top: 10px;
		font-size: 26px;
		text-align: center;
	}

	.info {
		padding: 30px 0;

		& > p {
			display: flex;
			margin-bottom: 20px;
			font-size: 18px;

			&:last-child {
				margin-bottom: 0;
			}

			& > span:first-child {
				color: #808080;
				flex-basis: 30%;
			}

			.memo {
				width: 300px;
			}
		}
	}

	.request {
		display: flex;
		font-size: 18px;
		margin-top: 40px;

		& > span {
			flex-basis: 30%;
			color: #808080;
		}
	}
}
